@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}

.logo{
    width: 7%;
    height: 5%;
}

.right img{
    width: 70%;
    margin-left: 7rem;
    margin-bottom: 20px;
}

header{
    background: linear-gradient(145deg, #E100FF 0%, #7D00FF 80%);
    height: 100vh;
    width: 100%;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.links a{
    color: #fff;
    text-decoration: none;
    margin-left: 20px;

    transition:all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.links a:hover{
    color: #28123f;
}

.last_btn{
    border: 1px solid #fff; 
    padding: 0.3rem 1rem;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-left: 4rem;
}

.last_btn:hover{
    background: #fff;
    color: #7D00FF;
}

.slider{
    margin-top: 2rem;
}

.slider .slide{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end; 
    align-items: center;
}

.slider .slide h1{
    font-size: 2.8rem ; 
    color: #fff;
    line-height: 1.3; 
}

.slider .slide p{
    color: #fff; 
    line-height: 1.8;
    margin-top: 1.5rem;
    padding-right: 4rem;
}

.slider .slide .form{
    background: #fff; 
    padding: 0.5rem;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    width: 80%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.slider .slide .form input{
    border: none;
    color:#E100FF;
    padding: 0 0.6rem; 
    flex: 1;
    font-size: 1rem;
    outline: none;
}

.slider .slide .form button{
    border: none;
    color: #fff;
    background-color: #7D00FF;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-size: 0.8rem ;
    padding: 0.5rem 2rem;
    outline: none;
}

.slider .slide .form button:hover{
    color: #fff;
    background-color: #510f97;
    cursor: pointer;
}

.slider .slide h5{
    color: #fff; 
    line-height: 1.8;
    margin-top: .5rem;
    padding-right: 4rem;
}

.slider_btns{
    position: fixed; 
    bottom: 0;
    right: 0;
    background:  #7D00FF;
}

.slider_btns button{
    border: none;
    background: none;
    color: #fff;
    padding: 0.5rem 1rem; 
    outline: none;
    font-size: 1rem;
    cursor: pointer;
}
/* 
.slider_btns button:first-child span{
    margin-right: 1rem; 
}

.slider_btns button:last-child span{
    margin-left: 1rem; 
} */

@keyframes slideInDown {
    from{
        transform: translate3d(0, -100%, 0);
        -webkit-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        -o-transform: translate3d(0, -100%, 0);
    }

    to{
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from{
        transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        visibility: visible;
        opacity: 0;
    }

    to{
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.slick-slider .slick-active .left h1{
    animation: slideInDown 3s; 
    -webkit-animation: slideInDown 3s;
}

.slick-active .right{
    animation: slideInUp 1s forwards;
    -webkit-animation: slideInUp 1s forwards;
}

.slick-active .form{
    animation: slideInUp 2s forwards;
    -webkit-animation: slideInUp 2s forwards;
}

.slick-active h5{
    animation: slideInUp 4s forwards;
    -webkit-animation: slideInUp 4s forwards;
}

.slick-active p{
    animation: fadeIn 4s forwards; 
    -webkit-animation: fadeIn 4s forwards;
}